bin/
log/
data/
.git/
.gitignore
.air.toml
*.md
!config/
!db/
tests/
doc/
docs/
!docs/
!docs/**
**/*_test.go
script/*
!script/entrypoint.sh
ssl/
static/
vendor/
tmp/
.env*
docker-compose*.yml
Dockerfile
.dockerignore
