IS_DEBUG=true
SESSION_SECRET=
MYSQL_DSN=
SSH_TUNNEL_HOST=
SSH_TUNNEL_PORT=22
SSH_TUNNEL_USER=
SSH_TUNNEL_PASSWORD=
SSH_TUNNEL_PRIVATE_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=
GITHUB_SCOPE1=user:email
GITHUB_SCOPE2=user:name